.background {
    color:white;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    // cursor: url('/assets/cursor.png'),auto;
}

.game-img {
    position: absolute;
    left: 46.5vw;
}

.back-button {
    padding: 15px;
    transform: (rotate(-3deg));
}

.back-button:hover {
    padding: 15px;
    transform: (rotate(5deg));
}