.background {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    // cursor: url('/assets/cursor.png'),auto;
}

.typing-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    text-align: center;
}

.select-button {
    padding: 10px;
}

.select-button:hover {
    padding: 10px;
    transform: (rotate(3deg));
}

#twitch-logo.select-button { 
    padding: 10px;
    transform: (rotate(-3deg));
}

#twitch-logo.select-button:hover {
    padding: 10px;
    transform: (rotate(5deg));
}

#youtube-logo.select-button { 
    padding: 10px;
    transform: (rotate(2deg));
}

#youtube-logo.select-button:hover {
    padding: 10px;
    transform: (rotate(-4deg));
}

#youtube-vods-logo.select-button { 
    padding: 10px;
    transform: (rotate(-4deg));
}

#youtube-vods-logo.select-button:hover {
    padding: 10px;
    transform: (rotate(5deg));
}

#twitter-logo.select-button { 
    padding: 10px;
    transform: (rotate(1deg));
}

#twitter-logo.select-button:hover {
    padding: 10px;
    transform: (rotate(-2deg));
}