<div class="background">
    <div class="typing-container">
      <h1 [hidden]="!this.continuePlaying" id="myIntro">toaster goes <span class="auto-type"></span></h1>
      <h1 [hidden]="this.continuePlaying" id="myLink">check me out at twitch.tv/<span class="auto-type-link"></span></h1>
    </div>
    <div class="buttons">
      <img width="200px" class="select-button" id="merch-button" src="/assets/merch_button.png">
      <img width="290px" class="select-button" id="game-button" src="/assets/game_button.png">
    </div>
  </div>
  